## **String Based Assignment Problem**

### 1. Write a program to reverse a string.

In [15]:
#Question- 1
s1=input()           #take input
s1=s1[::-1]          #reversing
print("Reverse string is: " + s1)

Reverse string is: sllikswp

### 2. Check if a string is a palindrome.

In [6]:
#Questions- 2
s1=input()               #take input
s2= s1[::-1]             #reversing
if s1==s2:               #checking palindrome or not
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

### 3. Convert a string to uppercase.

In [7]:
#Question- 3
s1= input()             #take input
s1=s1.upper()           #convert in uppercase
print(s1)               #print

PWSKILLS

### 4. Convert a string to lowercase.

In [8]:
#Question- 4
s1= input()               #take input
s1= s1.lower()            #convert in lowercase
print(s1)                 #print

pwskills

### 5. Count the number of vowels in a string.

In [9]:
#Question- 5
s1 = input('Enter the string :')                                        #taking string
count = 0                                                               #create a variable that count total vowels
s1 = s1.lower()                                                         #converting string in lowercase
for i in s1:                                                            #counting vowels
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count+=1
if count == 0:                                                          #print vowel according its value
    print('No vowels found')
else:
    print('Total vowels are :' + str(count))

Total vowels are :1

### 6. Count the number of consonants in a string.

In [10]:
#Question- 6
s1 = input('Enter the string :')                                        #taking string
length= len(s1)
count = 0                                                               #create a variable that count total vowels
s1 = s1.lower()                                                         #converting string in lowercase
for i in s1:                                                            #counting vowels
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count+=1
print('Total consonants are :' + str(length-count))                     #print result

Total consonants are :7

### 7. Remove all whitespaces from a string.

In [11]:
#Question- 7
s1= input("Enter the string: ")                                    #taking input
s1= s1.replace(" ","")                                             #removing spaces
print("After removing spaces: " + s1)                              #print without spaces

After removing spaces: hellomynameis

### 8. Find the length of a string without using the `len()` function.

In [12]:
#Question- 8
s1= input("Enter the string: ")
count = 0
for c in s1:
    count+=1
print(count)

8

### 9. Check if a string contains a specific word.

In [13]:
#Question- 9
s1= input("Enter the string: ")                      #take input
s2 =input("Enter string to search")                  #take string to search
if s2 in s1:                                         #checking string is present or not
    print("string found")
else:
    print("string not found")

string found

### 10. Replace a word in a string with another word.

In [14]:
#Question- 10
s1= input("Enter the string: ")                               #take input
s2= input("Enter the old string: ")                           #take old string
s3= input("Enter the new string: ")                           #take new string

s1= s1.replace(s2,s3)                                         #replaceing
print(s1)

hello my name is

### 11. Count the occurrences of a word in a string.

In [16]:
#Question- 11
s1= input("Enter the string: ")                           #take input
s2= input("Enter string to search: ")                     #take string to search
count=0                                                   #intialize count 
s1= s1.split()                                            #it convert a string into a list 
print("string appear " + str(s1.count(s2)) + " times")    #print using count function

string appear 4 times

### 12. Find the first occurrence of a word in a string.

In [17]:
#Question- 12
s1= input("Enter the string: ")                           #take input
s2= input("Enter string to search: ")                     #take string to search
i= s1.find(s2)                                            #index of the first occurrence of the string
if i== -1:
    print("Not found")
else:
    print("Found at: " + str(i))

Found at: 9

### 13. Find the last occurrence of a word in a string.

In [18]:
#Question- 13
s1= input("Enter the string: ")                           #take input
s2= input("Enter string to search: ")                     #take string to search
i= s1.rfind(s2)                                           #index of the first occurrence of the string from last
if i== -1:
    print("Not found")
else:
    print("Found at: " + str(i))

Found at: 9

### 14. Split a string into a list of words.

In [19]:
#Question- 14
s1= input("Enter the string: ")                           #take input
s1= s1.split()                                            #split
print(s1)

['hello', 'my', 'name', 'is']

### 15. Join a list of words into a string.

In [20]:
#Question- 15
l1= ["my" , "name" , "is", "hello"]                  #list 
s1=" ".join(l1)                                      #convert it into string using join function
print(s1)

my name is hello

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [21]:
#Question- 16
s1=input()                        #take input
s1= s1.replace(" ", "_")          #replace space with underscore
print(s1)

hello_my_name_is

### 17. Check if a string starts with a specific word or phrase.

In [22]:
#Question- 17
s1="Hello, world!"           
s2="Hello"
a=s1.startswith(s2)      #startswith() method to check if the text starts with the specified prefix
if a:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

### 18. Check if a string ends with a specific word or phrase.

In [23]:
#Question- 18
s1="Hello, pwskills!"
s2="Hello"
a=s1.endswith(s2)        #endswith() method to check if the text ends with the specified suffix
if a:
    print("The text ends with the prefix.")
else:
    print("The text does not end with the prefix.")

The text does not end with the prefix.

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [25]:
#Questoin- 19
s1="hello pwskills"
s2=s1.title()          #title() method to convert the text to title case
print(s2)

Hello Pwskills

### 20. Find the longest word in a string.

In [28]:
#Question-20
s1="hello my name is abhishek pandey"
a=s1.split()        #Use the split() method to split the text into a list of words
length=0
res=''
for i in a:
    if len(i)>length:   #check if the length of the current word
        length=len(i)
        res=i
print("longest is: "+res)

longest is: abhishek

### 21. Find the shortest word in a string.

In [29]:
#Question-21
s1="hello my name is abhishek pandey"
a=s1.split()        #Use the split() method to split the text into a list of words
length=float('inf')
res=''
for i in a:
    if len(i)<length:   #check if the length of the current word
        length=len(i)
        res=i
print("shortest word is: "+res)

shortest word is: my

### 22. Reverse the order of words in a string.

In [30]:
#Question-22
s1="hello my name is abhishek pandey"
s = s1.split()[::-1]            # reversing words in a given string
l = []
for i in s:
    l.append(i)
print(" ".join(l))

pandey abhishek is name my hello

### 23. Check if a string is alphanumeric.

In [31]:
#Question-23
s1="hello my name is abhishek pandey"
a=0
for i in s1:
    if i.isalnum():   # Check if the character is a alphanumeric using the isalnum()
        a+=1
if a==1:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is not alphanumeric.

### 24. Extract all digits from a string.

In [32]:
#Question-24
s1='p1w2s3k4i5l6l7ls8'
s2=''
for i in s1:
    if i.isdigit():  # Check if the character is a digit using the isdigit()
        s2+=i
print(s2)

12345678

### 25. Extract all alphabets from a string.

In [33]:
#Question-25
s1='p1w2s3k4i5l6l7ls8'
s2=''
for i in s1:
    if i.isalpha():  # Check if the character is a alphabet using the isalpha()
        s2+=i
print(s2)

pwskillls

### 26. Count the number of uppercase letters in a string.

In [34]:
#Question-26
s1='P1w2s3K4i5l6L7lS8'
a=0
for i in s1:
    if i.isupper():  # Check if the character is in uppercase using the isupper()
        a+=1
print("the number of uppercase letter is: "+ str(a))

the number of uppercase letter is: 4

### 27. Count the number of lowercase letters in a string.

In [35]:
#Question-27
s1='P1w2s3K4i5l6L7lS8'
a=0
for i in s1:
    if i.islower():  # Check if the character is in lowercase using the islower()
        a+=1
print("the number of lowercase letter is: "+ str(a))

the number of lowercase letter is: 5

### 28. Swap the case of each character in a string.

In [36]:
#Question-28
s1="pWskIllS"
s2=s1.swapcase()  #swapcase() converts uppercase to lowercase and vice versa
print(s2)

PwSKiLLs

### 29. Remove a specific word from a string.

In [37]:
#Question-29
s1="hello my name is abhishek pandey"
s2="abhishek"
a=s1.split()
res=''
for i in a:
    if i!=s2:
        res+=i+" "
print(res)

hello my name is pandey

### 30. Check if a string is a valid email address.

In [38]:
#Question- 30
import re             #import the regular expression module
s1="example@email.com"
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
if re.match(pattern, s1):     #use the .match() method to check if the string matches the pattern
    print("The string is a valid email address.")
else:
    print("The string is not a valid email address.")
    print("Invalid email address.")

The string is a valid email address.

### 31. Extract the username from an email address string.

In [39]:
#Question= 31
email = input("Enter an email address: ")       #taking an email address
username = email.split('@')[0]                  #split the email address at the @ and extract the username   

print("Username:", username)

Username: akpandey.51466

### 32. Extract the domain name from an email address string.

In [40]:
#Question= 32
email = input("Enter an email address: ")       #taking an email address
domain = email.split('@')[1]                 #split the email address at the @ and extract the domain name  

print("Domain:", domain)

Domain: gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [41]:
#Question= 33
string = input("Enter a string: ")    #taking a string
import re
new_string = re.sub(' +', ' ', string)

print("New String: ", new_string)

New String:  asd ad ejejsh jbahj jhbj

### 34. Check if a string is a valid URL.

In [42]:
#Question= 34
import re
url = input("Enter a URL: ")    #taking input
pattern = r'^(http|https)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'

if re.match(pattern, url):
    print("Valid URL.")
else:
    print("Invalid URL.")

Invalid URL.

### 35. Extract the protocol (http or https) from a URL string.

In [43]:
#Question= 35
url = input("Enter a URL: ")    #taking input
protocol = url.split('://')[0]

print("Protocol:", protocol)

Protocol: https

### 36. Find the frequency of each character in a string.

In [44]:
#Question= 36
string = input("Enter a string: ")      #taking input

char_frequency = {}

for char in string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print("Character frequencies:", char_frequency)

Character frequencies: {'h': 1, 'e': 2, 'l': 2, 'o': 1, ' ': 3, 'm': 2, 'y': 1, 'n': 1, 'a': 1, 'i': 1, 's': 1}

### 37. Remove all punctuation from a string.

In [45]:
#Question= 37
import string
s1 = input("Enter a string: ")    #taking input

s2 = ''.join(char for char in s1 if char not in string.punctuation)

print("String without punctuation:", s2)

String without punctuation: hi name is

### 38. Check if a string contains only digits.

In [46]:
#Question= 38
string = input("Enter a string: ")   #taking input
# Check if the string contains only digits
if string.isdigit():
    print("String contains only digits.")
else:
    print("String does not contain only digits.")

String does not contain only digits.

### 39. Check if a string contains only alphabets.

In [47]:
#Question= 39
string = input("Enter a string: ")       #taking input
# Check if the string contains only alphabets
if string.isalpha():
    print("String contains only alphabets.")
else:
    print("String does not contain only alphabets.")

String contains only alphabets.

### 40. Convert a string to a list of characters.

In [48]:
#Question= 40
string = input("Enter a string: ")    #taking input
# Convert the string to a list of characters
char_list = list(string)
print("List of characters:", char_list)

List of characters: ['h', 'e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's']

### 41. Check if two strings are anagrams.

In [49]:
#Question= 41
s1 = input("Enter string1: ")       #taking input s1
s2 = input("Enter string2: ")       #taking input s2

# Remove spaces and convert to lowercase for comparison
s1 = s1.replace(" ", "").lower()
s2 = s2.replace(" ", "").lower()

# Check if the sorted characters of both strings are the same
if sorted(s1) == sorted(s2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")
    print("The strings are not anagrams.")

The strings are anagrams.

### 42. Encode a string using a Caesar cipher.

In [50]:
#Question= 42
string = input("Enter a string: ")                #taking input
shift = int(input("Enter the shift value: "))
result = ""                                       # Initialize an empty result string

for char in string:
    if char.isalpha():
        if char.isupper():
            offset = ord('A')
        else:
            offset = ord('a')

        encoded_char = chr(((ord(char) - offset + shift) % 26) + offset)
        result += encoded_char
    else:
        result += char

print("Encoded string:", result)

Encoded string: lipps qc reqi mw

### 43. Decode a Caesar cipher encoded string.

In [51]:
#Question= 43
# Input an encoded string and the shift value
encoded_string = input("Enter the encoded string: ")
shift = int(input("Enter the shift value: "))

# Initialize an empty result string
result = ""

# Iterate through each character in the encoded string
for char in encoded_string:
    if char.isalpha():
        # Determine whether the character is uppercase or lowercase
        if char.isupper():
            offset = ord('A')
        else:
            offset = ord('a')
        
        # Apply Caesar cipher shift in reverse to decode
        decoded_char = chr(((ord(char) - offset - shift) % 26) + offset)
        result += decoded_char
    else:
        result += char

print("Decoded string:", result)

Decoded string: owofjdw

### 44. Find the most frequent word in a string.

In [52]:
#Question= 44
string = input("Enter a string: ")        #taking input
words = string.split()                    # Split the string into words
word_freq = {}

for word in words:
    word = word.lower()                    # Convert to lowercase for case-insensitive comparison
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

most_frequent_word = max(word_freq, key=word_freq.get)

print("Most frequent word:", most_frequent_word)

Most frequent word: hello

### 45. Find all unique words in a string.

In [53]:
#Question= 45
string = input("Enter a string: ")         #taking input
words = string.split()                     #Split the string into words

# Create a set to store unique words
unique_words = set(words)

print("Unique words:", unique_words)

Unique words: {'arg'}

### 46. Count the number of syllables in a string.

In [55]:
#Question= 46
string = input("Enter a string: ")            #taking input

def count_syllables(word):
    vowels = "AEIOUaeiou"
    count = 0
    prev_char = None

    for char in word:
        if char in vowels and prev_char not in vowels:
            count += 1
        prev_char = char

    return count

words = string.split()
syllable_count = sum(count_syllables(word) for word in words)

print("Number of syllables:", syllable_count)

Number of syllables: 2

### 47. Check if a string contains any special characters.

In [56]:
#Question= 47
import string
string_to_check = input("Enter a string: ")             #taking input

def contains_special_characters(input_string):
    special_characters = set(string.punctuation)
    for char in input_string:
        if char in special_characters:
            return True
    return False

if contains_special_characters(string_to_check):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

### 48. Remove the nth word from a string.

In [57]:
#Question= 48
def remove_nth_word(sentence, n):
    words = sentence.split()
    if 0 < n <= len(words):
        del words[n - 1]
        return ' '.join(words)
    else:
        return "Invalid index"

s1= input("Enter a string: ")          #taking input
n = int(input("Enter the position: "))
result = remove_nth_word(s1, n)
print(result)

hello name is

### 49. Insert a word at the nth position in a string.

In [58]:
#Question= 49              
def insert_word(sentence, word, n):
    words = sentence.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    else:
        return "Invalid index"

# Example usage:
s1= input("Enter a string: ")          #taking input
n = int(input("Enter the position: "))
word_to_insert =input("Enter a string: ") 
result = insert_word(s1, word_to_insert, n)
print(result)

hello my my name

### 50. Convert a CSV string to a list of lists.

In [59]:
#Question= 50
# Input a CSV string
csv_string = input("Enter a CSV string: ")

# Split the CSV string into rows
rows = csv_string.split('\n')

# Initialize an empty list to store the list of lists
csv_list = []

# Iterate through the rows and split each row into columns
for row in rows:
    columns = row.split(',')
    csv_list.append(columns)

print("List of lists from CSV string:")
for row in csv_list:
    print(row)

List of lists from CSV string:
['hello my name is']

## **List-Based Practice Problems:**

### 1. Create a list with integers from 1 to 10.

In [65]:
#Question= 1
l1 = list(range(1, 11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [66]:
#Question= 2
l1= [1, 2, 3, 4, 5]
count = 0
for _ in l1:
    count += 1
print("Length of the list:", count)

Length of the list: 5

### 3. Append an element to the end of a list.

In [67]:
#Question= 3
l1 = [1, 2, 3]
l1.append(4)                            # Append an element to the end of the list
print("Updated list:", l1)

Updated list: [1, 2, 3, 4]

### 4. Insert an element at a specific index in a list.

In [69]:
#Question= 4
l1 = [1, 2, 3]
# Insert an element at index 1
l1.insert(1, 4)
print("Updated list:", l1)

Updated list: [1, 4, 2, 3]

### 5. Remove an element from a list by its value.

In [70]:
#Question= 5
l1 = [1, 2, 3, 4, 5]
# Remove the element with value 3
l1.remove(3)
print("Updated list:", l1)

Updated list: [1, 2, 4, 5]

### 6. Remove an element from a list by its index.

In [71]:
#Question= 6
l1 = [1, 2, 3, 4, 5]
# Remove the element at index 2
del l1[2]
print("Updated list:", l1)

Updated list: [1, 2, 4, 5]

### 7. Check if an element exists in a list.

In [72]:
#Question= 7
l1 = [1, 2, 3, 4, 5]
# Check if an element exists in the list
element = 3
if element in l1:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

### 8. Find the index of the first occurrence of an element in a list.

In [73]:
#Question= 8
l1 = [1, 2, 3, 4, 5, 3]
# Find the index of the first occurrence of 3
element = 3
index = l1.index(element)
print(f"The first occurrence of {element} is at index {index}.")

The first occurrence of 3 is at index 2.

### 9. Count the occurrences of an element in a list.

In [74]:
#Question= 9
l1 = [1, 2, 3, 4, 5, 3]
# Count the occurrences of 3 in the list
element = 3
count = l1.count(element)
print(f"{element} appears {count} times in the list.")

3 appears 2 times in the list.

### 10. Reverse the order of elements in a list.

In [75]:
#Question= 10
l1 = [1, 2, 3, 4, 5]
# Reverse the list in-place
l1.reverse()
print("Reversed list:", l1)

Reversed list: [5, 4, 3, 2, 1]

### 11. Sort a list in ascending order.

In [76]:
#Question= 11
l1 = [5, 1, 3, 2, 4]
# Sort the list in ascending order
l1.sort()
print("Sorted list in ascending order:", l1)

Sorted list in ascending order: [1, 2, 3, 4, 5]

### 12. Sort a list in descending order.

In [77]:
#Question= 12
l1 = [5, 1, 3, 2, 4]
# Sort the list in descending order
l1.sort(reverse=True)
print("Sorted list in descending order:", l1)

Sorted list in descending order: [5, 4, 3, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
#Question= 13
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [78]:
#Question= 14
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [79]:
#Question= 15
l1 = [1, 2, 3, 4, 5]
# Calculate the sum of elements in the list
sum_of_elements = sum(l1)
print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 15

### 16. Find the maximum value in a list.

In [80]:
#Question= 16
l1= [1, 3, 5, 2, 4]
# Find the maximum value in the list
max_value = max(l1)
print("Maximum value in the list:", max_value)

Maximum value in the list: 5

### 17. Find the minimum value in a list.

In [81]:
#Question= 17
l1 = [1, 3, 5, 2, 4]
# Find the minimum value in the list
min_value = min(l1)
print("Minimum value in the list:", min_value)

Minimum value in the list: 1

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
#Question= 18
squares = [num ** 2 for num in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [ ]:
#Question= 19
import random
# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("List of random numbers:", random_numbers)

List of random numbers: [53, 60, 23, 72, 15]

### 20. Remove duplicates from a list.

In [ ]:
#Question= 20
# Create a list with duplicates
l1 = [1, 2, 2, 3, 4, 4, 5]
# Remove duplicates while preserving the order
unique_list = list(set(l1))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

### 21. Find the common elements between two lists.

In [82]:
#Question= 21
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
# Find the common elements between the two lists
common_elements = list(set(list1) & set(list2))
print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [3, 4, 5]

### 22. Find the difference between two lists.

In [83]:
#Question= 22
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between list1 and list2
difference = list(set(list1) - set(list2))

print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [1, 2]

### 23. Merge two lists.

In [84]:
#Question= 23
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists
merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

### 24. Multiply all elements in a list by 2.

In [85]:
#Question= 24
l1 = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
multiplied_list = [x * 2 for x in l1]

print("List with elements multiplied by 2:", multiplied_list)

List with elements multiplied by 2: [2, 4, 6, 8, 10]

### 25. Filter out all even numbers from a list.

In [86]:
#Question= 25
l1 = [1, 2, 3, 4, 5, 6]

# Filter out even numbers using list comprehension
filtered_list = [x for x in l1 if x % 2 != 0]

print("List with even numbers filtered out:", filtered_list)

List with even numbers filtered out: [1, 3, 5]

### 26. Convert a list of strings to a list of integers.

In [ ]:
#Question= 26
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers
int_list = [int(x) for x in string_list]

print("List of integers:", int_list)

List of integers: [1, 2, 3, 4, 5]

### 27. Convert a list of integers to a list of strings.

In [88]:
#Question= 27
int_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(x) for x in int_list]

print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

### 28. Flatten a nested list.

In [87]:
#Question= 28
nested_list = [[1, 2], [3, 4], [5, 6]]

# Flatten the nested list using list comprehension
flattened_list = [x for sublist in nested_list for x in sublist]

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
#Question= 29
fibonacci_list = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)

print("List of the first 10 Fibonacci numbers:", fibonacci_list)

List of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [89]:
#Question= 30
l1 = [1, 2, 3, 4, 5]

# Check if the list is sorted in ascending order
is_sorted = all(l1[i] <= l1[i + 1] for i in range(len(l1) - 1))

if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

### 31. Rotate a list to the left by `n` positions.

In [90]:
#Question= 31
l1 = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
n = 2
rotated_list = l1[n:] + l1[:n]

print("Rotated list to the left by", n, "positions:", rotated_list)

Rotated list to the left by 2 positions: [3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [91]:
#Question= 32
l1 = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
n = 2
rotated_list = l1[-n:] + l1[:-n]

print("Rotated list to the right by", n, "positions:", rotated_list)

Rotated list to the right by 2 positions: [4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [ ]:
#Question= 33
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_list = [num for num in range(2, 51) if is_prime(num)]
print("List of prime numbers up to 50:", prime_list)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [ ]:
#Question= 34
def chunk_list(input_list, chunk_size):
    return [input_list[i:i+chunk_size] for i in range(0, len(input_list), chunk_size)]

# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Split the list into chunks of size 3
chunked_list = chunk_list(my_list, 3)

print("List split into chunks:", chunked_list)

List split into chunks: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [ ]:
#Question= 35
my_list = [5, 2, 8, 1, 9, 6]

# Find the second largest number
sorted_list = sorted(my_list)
second_largest = sorted_list[-2]

print("Second largest number in the list:", second_largest)

Second largest number in the list: 8

### 36. Replace every element in a list with its square.

In [ ]:
#Question= 36
my_list = [1, 2, 3, 4, 5]

# Replace every element with its square using list comprehension
squared_list = [x**2 for x in my_list]

print("List with elements squared:", squared_list)

List with elements squared: [1, 4, 9, 16, 25]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
#Question= 37
my_list = ["apple", "banana", "cherry"]

# Convert the list to a dictionary
my_dict = {element: index for index, element in enumerate(my_list)}

print("Dictionary from the list:", my_dict)

Dictionary from the list: {'apple': 0, 'banana': 1, 'cherry': 2}

### 38. Shuffle the elements of a list randomly.

In [ ]:
#Question= 38
import random

# Create a list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [4, 3, 5, 1, 2]

### 39. Create a list of the first 10 factorial numbers.

In [92]:
#Question= 39
import math

# Create a list of the first 10 factorial numbers
factorial_list = [math.factorial(n) for n in range(10)]
print("List of the first 10 factorial numbers:", factorial_list)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [93]:
#Question= 40
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
have_common_elements = any(item in list1 for item in list2)

if have_common_elements:
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

### 41. Remove all elements from a list.

In [96]:
#Question= 41
my_list = [1, 2, 3, 4, 5]
# Remove all elements from the list
my_list.clear()
print("List after removing all elements:", my_list)

List after removing all elements: []

### 42. Replace negative numbers in a list with 0.

In [97]:
#Question= 42
my_list = [1, -2, 3, -4, 5]
# Replace negative numbers with 0 using list comprehension
updated_list = [x if x >= 0 else 0 for x in my_list]
print("List with negative numbers replaced:", updated_list)

List with negative numbers replaced: [1, 0, 3, 0, 5]

### 43. Convert a string into a list of words.

In [98]:
#Question= 43
my_string = "Hello, world! This is a sample string."
# Convert the string into a list of words
word_list = my_string.split()
print("List of words from the string:", word_list)

List of words from the string: ['Hello,', 'world!', 'This', 'is', 'a', 'sample', 'string.']

### 44. Convert a list of words into a string.

In [99]:
#Question= 44
word_list = ["Hello,", "world!", "This", "is", "a", "sample", "string."]
# Convert the list of words into a string
my_string = " ".join(word_list)
print("String from the list of words:", my_string)

String from the list of words: Hello, world! This is a sample string.

### 45. Create a list of the first `n` powers of 2.

In [100]:
#Question= 45
n = 5
power_of_2_list = [2**i for i in range(n)]
print("List of the first", n, "powers of 2:", power_of_2_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [101]:
#Question= 46
string_list = ["apple", "banana", "cherry", "date", "fig"]
# Find the longest string
longest_string = max(string_list, key=len)
print("Longest string in the list:", longest_string)

Longest string in the list: banana

### 47. Find the shortest string in a list of strings.

In [102]:
#Question= 47
string_list = ["apple", "banana", "cherry", "date", "fig"]
# Find the shortest string
shortest_string = min(string_list, key=len)
print("Shortest string in the list:", shortest_string)

Shortest string in the list: fig

### 48. Create a list of the first `n` triangular numbers.

In [103]:
#Question= 48
n = 5
triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [104]:
#Question= 49
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4]
# Check if list2 is a subsequence of list1
is_subsequence = all(item in list1 for item in list2)
if is_subsequence:
    print("list2 is a subsequence of list1.")
else:
    print("list2 is not a subsequence of list1.")

list2 is a subsequence of list1.

### 50. Swap two elements in a list by their indices.

In [95]:
#Question= 50
my_list = [1, 2, 3, 4, 5]
# Swap elements at indices 1 and 3
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## **Tuple-Based Practice Problems:**

### 1. Create a tuple with integers from 1 to 5.

In [139]:
#Question= 1
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [ ]:
#Question= 2
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

### 3. Find the length of a tuple without using the `len()` function.

In [140]:
#Question= 3
my_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in my_tuple)
print("Length of the tuple:", length)

Length of the tuple: 5

### 4. Count the occurrences of an element in a tuple.

In [107]:
#Question= 4
my_tuple = (1, 2, 2, 3, 2, 4, 5)
element_to_count = 2
count = my_tuple.count(element_to_count)
print("Occurrences of", element_to_count, "in the tuple:", count)

Occurrences of 2 in the tuple: 3

### 5. Find the index of the first occurrence of an element in a tuple.

In [108]:
#Question= 5
my_tuple = (1, 2, 2, 3, 2, 4, 5)
element_to_find = 2
index = my_tuple.index(element_to_find)
print("Index of the first occurrence of", element_to_find, "in the tuple:", index)

Index of the first occurrence of 2 in the tuple: 1

### 6. Check if an element exists in a tuple.

In [109]:
#Question= 6
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
exists = element_to_check in my_tuple
if exists:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

### 7. Convert a tuple to a list.

In [110]:
#Question= 7
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Converted list:", my_list)

Converted list: [1, 2, 3, 4, 5]

### 8. Convert a list to a tuple.

In [111]:
#Question= 8
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3, 4, 5)

### 9. Unpack the elements of a tuple into variables.

In [112]:
#Question= 9
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("Unpacked variables:", a, b, c)

Unpacked variables: 1 2 3

### 10. Create a tuple of even numbers from 1 to 10.

In [113]:
#Question= 10
even_numbers = tuple(range(2, 11, 2))
print("Tuple of even numbers:", even_numbers)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [114]:
#Question= 11
odd_numbers = tuple(range(1, 11, 2))
print("Tuple of odd numbers:", odd_numbers)

Tuple of odd numbers: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [ ]:
#Question= 12
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [115]:
#Question= 13
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [116]:
#Question= 14
empty_tuple = ()
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

### 15. Create a nested tuple.

In [117]:
#Question= 15
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

### 16. Access the first element of a nested tuple.

In [ ]:
#Question= 16
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2)

### 17. Create a tuple with a single element.

In [118]:
#Question= 17
single_element_tuple = (42,)
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

### 18. Compare two tuples.

In [119]:
#Question= 18
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are equal.

### 19. Delete a tuple.

In [121]:
#Question= 19
my_tuple = (1, 2, 3)
del my_tuple                      # Attempting to access the tuple after deletion will result in an error

### 20. Slice a tuple.

In [122]:
#Question= 20
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (2, 3, 4)

### 21. Find the maximum value in a tuple.

In [ ]:
#Question= 21
my_tuple = (4, 7, 2, 9, 1)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

### 22. Find the minimum value in a tuple.

In [ ]:
#Question= 22
my_tuple = (4, 7, 2, 9, 1)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 1

### 23. Convert a string to a tuple of characters.

In [ ]:
#Question= 23
my_string = "Python"
char_tuple = tuple(my_string)
print("Tuple of characters:", char_tuple)

Tuple of characters: ('P', 'y', 't', 'h', 'o', 'n')

### 24. Convert a tuple of characters to a string.

In [123]:
#Question= 24
char_tuple = ('P', 'y', 't', 'h', 'o', 'n')
my_string = ''.join(char_tuple)
print("String:", my_string)

String: Python

### 25. Create a tuple from multiple data types.

In [124]:
#Question= 25
mixed_tuple = (42, "hello", 3.14, True)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (42, 'hello', 3.14, True)

### 26. Check if two tuples are identical.

In [125]:
#Question= 26
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

### 27. Sort the elements of a tuple.

In [126]:
#Question= 27
my_tuple = (4, 1, 3, 9, 2)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 9)

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
#Question= 28
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))
print("Tuple of strings:", str_tuple)

Tuple of strings: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
#Question= 29
str_tuple = ("1", "2", "3", "4", "5")
int_tuple = tuple(map(int, str_tuple))
print("Tuple of integers:", int_tuple)

Tuple of integers: (1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [127]:
#Question= 30
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [ ]:
#Question= 31
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
#Question= 32
prime_numbers = (2, 3, 5, 7, 11)
print("Tuple of prime numbers:", prime_numbers)

Tuple of prime numbers: (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [128]:
#Question= 33
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print("Is the tuple a palindrome?", is_palindrome)

Is the tuple a palindrome? True

### 34. Create a tuple of squares of numbers from 1 to 5.

In [141]:
#Question= 34
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [130]:
#Question= 35
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print("Tuple without even numbers:", filtered_tuple)

Tuple without even numbers: (1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [131]:
#Question= 36
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)
print("Tuple with elements doubled:", doubled_tuple)

Tuple with elements doubled: (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [132]:
#Question= 37
import random
# Create a tuple of 5 random numbers between 1 and 100
random_numbers = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_numbers)

Tuple of random numbers: (14, 92, 44, 29, 20)

### 38. Check if a tuple is sorted.

In [133]:
#Question= 38
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print("Is the tuple sorted?", is_sorted)

Is the tuple sorted? True

### 39. Rotate a tuple to the left by `n` positions.

In [134]:
#Question= 39
# Rotate a tuple to the left by n positions
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(f"Tuple rotated to the left by {n} positions:", rotated_tuple)

Tuple rotated to the left by 2 positions: (3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [135]:
#Question= 40
# Rotate a tuple to the right by n positions
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(f"Tuple rotated to the right by {n} positions:", rotated_tuple)

Tuple rotated to the right by 2 positions: (4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [136]:
#Question= 41
def fibonacci(n):
    fib = [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return tuple(fib)
fibonacci_numbers = fibonacci(5)
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_numbers)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [138]:
#Question= 42
elements = input("Enter elements separated by spaces: ").split()
user_tuple = tuple(elements)
print("User input tuple:", user_tuple)

User input tuple: ('hello', 'my', 'name', 'is')

### 43. Swap two elements in a tuple.

In [ ]:
#Question= 43
my_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)
print("Tuple after swapping elements:", swapped_tuple)

Tuple after swapping elements: (1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [ ]:
#Question= 44
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
#Question= 45
n = 5
powers_of_2 = tuple(2 ** i for i in range(n))
print(f"Tuple of the first {n} powers of 2:", powers_of_2)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [ ]:
#Question= 46
string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: banana

### 47. Find the shortest string in a tuple of strings.

In [ ]:
#Question= 47
string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: date

### 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
#Question= 48
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))
print(f"Tuple of the first {n} triangular numbers:", triangular_numbers)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
#Question= 49
my_tuple = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)

contains_subsequence = any(sub_tuple == my_tuple[i:i+len(sub_tuple)] for i in range(len(my_tuple) - len(sub_tuple) + 1))
print("Does the tuple contain the subsequence?", contains_subsequence)

Does the tuple contain the subsequence? False

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
#Question= 50
n = 8
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 8: (1, 0, 1, 0, 1, 0, 1, 0)

## **Set-Based Practice Problems:**

### 1. Create a set with integers from 1 to 5.

In [142]:
#Question= 1
my_set = set(range(1, 6))
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [145]:
#Question= 2
my_set = {1, 2, 3}
my_set.add(4)
print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4}

### 3. Remove an element from a set.

In [144]:
#Question= 3
my_set = {1, 2, 3}
my_set.remove(2)
print("Set after removing an element:", my_set)

Set after removing an element: {1, 3}

### 4. Check if an element exists in a set.

In [146]:
#Question= 4
my_set = {1, 2, 3}
element_to_check = 2
exists = element_to_check in my_set
print(f"Does {element_to_check} exist in the set? {exists}")

Does 2 exist in the set? True

### 5. Find the length of a set without using the `len()` function.

In [147]:
#Question= 5
my_set = {1, 2, 3}
count = sum(1 for _ in my_set)
print("Length of the set:", count)

Length of the set: 3

### 6. Clear all elements from a set.

In [ ]:
#Question= 6
my_set = {1, 2, 3}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

### 7. Create a set of even numbers from 1 to 10.

In [148]:
#Question= 7
even_set = set(range(2, 11, 2))
print("Set of even numbers:", even_set)

Set of even numbers: {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [ ]:
#Question= 8
odd_set = set(range(1, 11, 2))
print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [ ]:
#Question= 9
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of two sets:", union_set)

Union of two sets: {1, 2, 3, 4, 5}

### 10. Find the intersection of two sets.

In [149]:
#Question= 10
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print("Intersection of two sets:", intersection_set)

Intersection of two sets: {3}

### 11. Find the difference between two sets.

In [ ]:
#Question= 11
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1 - set2
print("Difference between two sets:", difference_set)

Difference between two sets: {1, 2}

### 12. Check if a set is a subset of another set.

In [ ]:
#Question= 12
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

### 13. Check if a set is a superset of another set.

In [ ]:
#Question= 13
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

### 14. Create a set from a list.

In [ ]:
#Question= 14
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print("Set from a list:", my_set)

Set from a list: {1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [ ]:
#Question= 15
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print("List from a set:", my_list)

List from a set: [1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [ ]:
#Question= 16
import random
my_set = {1, 2, 3, 4, 5}
random_element = random.choice(tuple(my_set))
my_set.remove(random_element)
print("Set after removing a random element:", my_set)

Set after removing a random element: {2, 3, 4, 5}

### 17. Pop an element from a set.

In [ ]:
#Question= 17
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

### 18. Check if two sets have no elements in common.

In [ ]:
#Question= 18
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = not set1.isdisjoint(set2)
print("Do the sets have no common elements?", no_common_elements)

Do the sets have no common elements? False

### 19. Find the symmetric difference between two sets.

In [ ]:
#Question= 19
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference between two sets:", symmetric_difference_set)

Symmetric difference between two sets: {1, 2, 6, 7}

### 20. Update a set with elements from another set.

In [ ]:
#Question= 20
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Set1 after updating with elements from set2:", set1)

Set1 after updating with elements from set2: {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [ ]:
#Question= 21
prime_set = {2, 3, 5, 7, 11}
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [ ]:
#Question= 22
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2
print("Are the sets identical?", are_identical)

Are the sets identical? True

### 23. Create a frozen set.

In [ ]:
#Question= 23
my_set = {1, 2, 3}
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3})

### 24. Check if a set is disjoint with another set.

In [ ]:
#Question= 24
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print("Are the sets disjoint?", is_disjoint)

Are the sets disjoint? True

### 25. Create a set of squares of numbers from 1 to 5.

In [ ]:
#Question= 25
square_set = {x ** 2 for x in range(1, 6)}
print("Set of squares:", square_set)

Set of squares: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [ ]:
#Question= 26
my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}
print("Set after filtering out even numbers:", filtered_set)

Set after filtering out even numbers: {1, 3, 5}

### 27. Multiply all elements in a set by 2.

In [ ]:
#Question= 27
my_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in my_set}
print("Set after multiplying by 2:", doubled_set)

Set after multiplying by 2: {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [150]:
#Question= 28
import random
random_set = {random.randint(1, 10) for _ in range(5)}
print("Set of random numbers:", random_set)

Set of random numbers: {9, 3}

### 29. Check if a set is empty.

In [ ]:
#Question= 29
my_set = set()
is_empty = not bool(my_set)
print("Is the set empty?", is_empty)

Is the set empty? True

### 30. Create a nested set (hint: use frozenset).

In [ ]:
#Question= 30
set1 = frozenset({1, 2, 3})
set2 = frozenset({4, 5, 6})
# Create a nested frozenset
nested_set = frozenset({set1, set2})
print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

### 31. Remove an element from a set using the discard method.

In [ ]:
#Question= 31
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)  # Remove the element 3 if it exists
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5}

### 32. Compare two sets.

In [151]:
#Question= 32
set1 = {1, 2, 3}
set2 = {2, 3, 4}
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)
# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)
# Check if two sets have any common elements
have_common_elements = not set1.isdisjoint(set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set1 a superset of set2?", is_superset)
print("Do the sets have common elements?", have_common_elements)

Is set1 a subset of set2? False
Is set1 a superset of set2? False
Do the sets have common elements? True

### 33. Create a set from a string.

In [ ]:
#Question= 33
my_string = "hello"
char_set = set(my_string)
print("Set from string:", char_set)

Set from string: {'l', 'o', 'h', 'e'}

### 34. Convert a set of strings to a set of integers.

In [ ]:
#Question= 34
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}
print("Set of integers:", int_set)

Set of integers: {1, 2, 3}

### 35. Convert a set of integers to a set of strings.

In [ ]:
#Question= 35
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print("Set of strings:", string_set)

Set of strings: {'2', '1', '3'}

### 36. Create a set from a tuple.

In [ ]:
#Question= 36
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
print("Set from tuple:", tuple_set)

Set from tuple: {1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [ ]:
#Question= 37
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)
print("Tuple from set:", set_tuple)

Tuple from set: (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [ ]:
#Question= 38
my_set = {4, 2, 8, 1, 9}
max_value = max(my_set)
print("Maximum value in set:", max_value)

Maximum value in set: 9

### 39. Find the minimum value in a set.

In [ ]:
#Question= 39
my_set = {4, 2, 8, 1, 9}
min_value = min(my_set)
print("Minimum value in set:", min_value)

Minimum value in set: 1

### 40. Create a set from user input.

In [ ]:
#Question= 40
user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()
user_set = set(user_list)
print("Set from user input:", user_set)

Set from user input: {'4', '2', '6', '3'}

### 41. Check if the intersection of two sets is empty.

In [152]:
#Question= 41
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_intersection_empty = len(set1.intersection(set2)) == 0
print("Is the intersection empty?", is_intersection_empty)

Is the intersection empty? True

### 42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
#Question= 42
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set
# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)
# Print the set
print(first_5_fibonacci)

{0, 1, 2, 3}

### 43. Remove duplicates from a list using sets.

In [ ]:
#Question= 43
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

### 44. Check if two sets have the same elements, regardless of their count.

In [ ]:
#Question= 44
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}
are_equal_sets = set1 == set2
print("Are the sets equal?", are_equal_sets)

Are the sets equal? True

### 45. Create a set of the first `n` powers of 2.

In [ ]:
#Question= 45
n = 5
powers_of_2_set = {2**i for i in range(n)}
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [ ]:
#Question= 46
set1 = {1, 2, 3, 4, 5}
list1 = [3, 4, 5, 6, 7]
common_elements = set1.intersection(list1)
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [ ]:
#Question= 47
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [ ]:
#Question= 48
set1 = {1, 2, 3, 4, 5}
subset = {3, 4, 5}
is_subset = subset.issubset(set1)
print("Is subset a subset of set1?", is_subset)

Is subset a subset of set1? True

### 49. Create a set of alternating 1s and 0s of length `n`.

In [153]:
#Question= 49
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

### 50. Merge multiple sets into one.

In [154]:
#Question= 50
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}